flows.json
[
    {
        "id": "1c6759660a32fda5",
        "type": "tab",
        "label": "Setup",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a843f3ff30ad0d18",
        "type": "tab",
        "label": "Subscriber",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "caa031b5574b994f",
        "type": "tab",
        "label": "Downloader",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "102b04b3eaea572e",
        "type": "tab",
        "label": "Cleaner",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13ad60a837edfb78",
        "type": "tab",
        "label": "MVP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8cf5f6b5.937088",
        "type": "mqtt-broker",
        "name": "GB1",
        "broker": "\"\"",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "029ff868be3010db",
        "type": "redis-config",
        "name": "Cluster",
        "options": "$eval($env(\"REDIS_URL\"))",
        "cluster": true,
        "optionsType": "jsonata"
    },
    {
        "id": "f085bb836f7619e2",
        "type": "mqtt-broker",
        "name": "GB2",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "da22e3d34a4a5179",
        "type": "logIO-logger",
        "name": "loggerIO",
        "logLevel": "info",
        "isTimestampUTC": true,
        "logMeta": "none",
        "logMetaOptions": "",
        "logOutput": "file,nr-debugger",
        "fileFileName": "logIO-%DATE%.log",
        "fileDirName": "/data/files",
        "fileDatePattern": "YYYY-MM-DD",
        "fileIsJsonFormat": true,
        "fileZippedArchive": false,
        "fileMaxSize": "10",
        "fileMaxSizeUnit": "m",
        "fileMaxFiles": "5",
        "fileMaxFilesUnit": "",
        "consoleIsJsonFormat": false,
        "elkUrl": "http://localhost:9200",
        "elkIndex": "node-red"
    },
    {
        "id": "bae38c3ec809a1b3",
        "type": "mqtt-broker",
        "name": "PUB1",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6e294e8eeec8172b",
        "type": "mqtt-broker",
        "name": "PUB2",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "128474dbe370587c",
        "type": "file in",
        "z": "1c6759660a32fda5",
        "name": "Config",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "ff93196a03c5d817"
            ]
        ]
    },
    {
        "id": "5144ad1d8dba5084",
        "type": "inject",
        "z": "1c6759660a32fda5",
        "name": "Init",
        "props": [
            {
                "p": "filename",
                "v": "CONFIGURATION",
                "vt": "env"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "128474dbe370587c",
                "663b11c07aa86b7a"
            ]
        ]
    },
    {
        "id": "ff93196a03c5d817",
        "type": "yaml",
        "z": "1c6759660a32fda5",
        "property": "payload",
        "name": "",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "94801092b09a3155",
                "59550c3f6ef31016",
                "ab403bb7740186f9"
            ]
        ]
    },
    {
        "id": "e894f00b14823961",
        "type": "complete",
        "z": "1c6759660a32fda5",
        "name": "",
        "scope": [
            "2ddeb0c7f710114f"
        ],
        "uncaught": false,
        "x": 230,
        "y": 420,
        "wires": [
            [
                "c04a9d5e2aa3dffe"
            ]
        ]
    },
    {
        "id": "c04a9d5e2aa3dffe",
        "type": "change",
        "z": "1c6759660a32fda5",
        "name": "Redis Ready",
        "rules": [
            {
                "t": "set",
                "p": "redis_ready",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "94801092b09a3155",
        "type": "switch",
        "z": "1c6759660a32fda5",
        "name": "Roles ?",
        "property": "payload.global.roles",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "SUBSCRIBER",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "DOWNLOADER",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "PUBLISHER",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "CLEANER",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "LOGGER",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 620,
        "y": 240,
        "wires": [
            [
                "3b607bab1ce4d22d"
            ],
            [
                "d115a1b70e3c60df"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "59550c3f6ef31016",
        "type": "change",
        "z": "1c6759660a32fda5",
        "name": "Global",
        "rules": [
            {
                "t": "set",
                "p": "worker",
                "pt": "global",
                "to": "payload.global.worker",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "queue",
                "pt": "global",
                "to": "payload.global.queue",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "global-cache",
                "pt": "global",
                "to": "$type(payload.global.global-cache) != null ? true : false",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ce46d861922d90f4",
        "type": "redis-instance",
        "z": "1c6759660a32fda5",
        "server": "029ff868be3010db",
        "name": "",
        "topic": "redis",
        "location": "flow",
        "x": 190,
        "y": 120,
        "wires": []
    },
    {
        "id": "ab403bb7740186f9",
        "type": "debug",
        "z": "1c6759660a32fda5",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "300abdc5097e6ed4",
        "type": "catch",
        "z": "1c6759660a32fda5",
        "name": "",
        "scope": [
            "1b42b9c92f4352df"
        ],
        "uncaught": false,
        "x": 210,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "3b607bab1ce4d22d",
        "type": "link out",
        "z": "1c6759660a32fda5",
        "name": "Subscriber",
        "mode": "link",
        "links": [
            "a163ad330996d35d"
        ],
        "x": 790,
        "y": 180,
        "wires": [],
        "l": true
    },
    {
        "id": "a163ad330996d35d",
        "type": "link in",
        "z": "1c6759660a32fda5",
        "name": "Subscriber",
        "links": [
            "3b607bab1ce4d22d"
        ],
        "x": 220,
        "y": 580,
        "wires": [
            [
                "065f44d8bb59a1fd",
                "0cf15be34a1c1b08",
                "d8206db29d0e7696"
            ]
        ],
        "l": true
    },
    {
        "id": "d115a1b70e3c60df",
        "type": "link out",
        "z": "1c6759660a32fda5",
        "name": "Downloader",
        "mode": "link",
        "links": [
            "f0c2751b37f6b71f"
        ],
        "x": 790,
        "y": 220,
        "wires": [],
        "l": true
    },
    {
        "id": "f0c2751b37f6b71f",
        "type": "link in",
        "z": "1c6759660a32fda5",
        "name": "Downloader",
        "links": [
            "d115a1b70e3c60df"
        ],
        "x": 230,
        "y": 780,
        "wires": [
            [
                "b6dda43fbcd85817",
                "9a2bf9794f77b2fd",
                "83baaa0d22cdd87e",
                "aec8ec1c7813d445",
                "c9b74ad689069416"
            ]
        ],
        "l": true
    },
    {
        "id": "065f44d8bb59a1fd",
        "type": "change",
        "z": "1c6759660a32fda5",
        "name": "MQTT GB1",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.broker",
                "pt": "msg",
                "to": "payload.subscriber.brokers[0].broker",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains(payload.subscriber.brokers[0].broker,/wss/) or $contains(payload.subscriber.brokers[0].broker,/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.verifyservercert",
                "pt": "msg",
                "to": "$exists(payload.subscriber.brokers[0].verifycert) ? payload.subscriber.brokers[0].verifycert : false",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "payload.subscriber.brokers[0].username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "payload.subscriber.brokers[0].password",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$exists(payload.subscriber.brokers[0].version)  ? payload.subscriber.brokers[0].version : 4",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 540,
        "wires": [
            [
                "d5fd7ba9ba7e7a48"
            ]
        ]
    },
    {
        "id": "d5fd7ba9ba7e7a48",
        "type": "mqtt in",
        "z": "1c6759660a32fda5",
        "name": "GB1",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 530,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "65a4682d5ce9b9db",
        "type": "mqtt in",
        "z": "1c6759660a32fda5",
        "name": "GB2",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "f085bb836f7619e2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 530,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "0cf15be34a1c1b08",
        "type": "change",
        "z": "1c6759660a32fda5",
        "name": "MQTT GB2",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.broker",
                "pt": "msg",
                "to": "payload.subscriber.brokers[1].broker",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains(payload.subscriber.brokers[1].broker,/wss/) or $contains(payload.subscriber.brokers[1].broker,/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "brokerinternal.verifyservercert",
                "pt": "msg",
                "to": "$exists(payload.subscriber.brokers[1].verifycert) ? payload.subscriber.brokers[1].verifycert : false",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "payload.subscriber.brokers[1].username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "payload.subscriber.brokers[1].password",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$exists(payload.subscriber.brokers[1].version)  ? payload.subscriber.brokers[1].version : 4",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 580,
        "wires": [
            [
                "65a4682d5ce9b9db"
            ]
        ]
    },
    {
        "id": "d8206db29d0e7696",
        "type": "change",
        "z": "1c6759660a32fda5",
        "name": "Configuration",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "global",
                "to": "payload.subscriber.topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "subscriber",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "b6dda43fbcd85817",
        "type": "change",
        "z": "1c6759660a32fda5",
        "name": "XGroup",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"CREATE\", $globalContext(\"queue\"),  $globalContext(\"queue\") , \"$\", \"MKSTREAM\"]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 800,
        "wires": [
            [
                "1b42b9c92f4352df"
            ]
        ]
    },
    {
        "id": "9a2bf9794f77b2fd",
        "type": "change",
        "z": "1c6759660a32fda5",
        "name": "Aria",
        "rules": [
            {
                "t": "set",
                "p": "aria_secret",
                "pt": "global",
                "to": "payload.downloader.aria_secret",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "aria_url",
                "pt": "global",
                "to": "payload.downloader.aria_url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "663b11c07aa86b7a",
        "type": "function",
        "z": "1c6759660a32fda5",
        "name": "Redis KEx",
        "func": "\nconst nodes = msg.payload;\n\nconst cluster = new redis.Cluster(nodes);\n\ncluster.on('ready', async () => {\n    const allNodes = cluster.nodes('all');\n\n    await Promise.all(\n        allNodes.map(node =>\n            node.config('SET', 'notify-keyspace-events', 'KEx')\n        )\n    );\n\n    node.warn('Keyspace events configured on all nodes');\n    await cluster.quit();\n    node.send(msg);\n});\n\ncluster.on('error', (err) => {\n    node.error('Cluster error: ' + err.message);\n});",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "redis",
                "module": "ioredis"
            }
        ],
        "x": 350,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1b42b9c92f4352df",
        "type": "redis-command",
        "z": "1c6759660a32fda5",
        "server": "029ff868be3010db",
        "command": "XGROUP",
        "name": "XGROUP",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 540,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "83baaa0d22cdd87e",
        "type": "change",
        "z": "1c6759660a32fda5",
        "name": "Configuration",
        "rules": [
            {
                "t": "set",
                "p": "cache_name",
                "pt": "global",
                "to": "payload.downloader.cache_name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "download_url",
                "pt": "global",
                "to": "payload.downloader.download_url",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "files_expiry",
                "pt": "global",
                "to": "payload.downloader.files_expiry",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "downloader",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "aec8ec1c7813d445",
        "type": "change",
        "z": "1c6759660a32fda5",
        "name": "MQTT PUB1",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.broker",
                "pt": "msg",
                "to": "payload.downloader.brokers[0].broker",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains(payload.downloader.brokers[0].broker,/wss/) or $contains(payload.downloader.brokers[0].broker,/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.verifyservercert",
                "pt": "msg",
                "to": "$exists(payload.downloader.brokers[0].verifycert) ? payload.downloader.brokers[0].verifycert : false",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "payload.downloader.brokers[0].username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "payload.downloader.brokers[0].password",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$exists(payload.downloader.brokers[0].version)  ? payload.downloader.brokers[0].version : 4",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 720,
        "wires": [
            [
                "805250af5c884534"
            ]
        ]
    },
    {
        "id": "805250af5c884534",
        "type": "mqtt in",
        "z": "1c6759660a32fda5",
        "name": "PUB1",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bae38c3ec809a1b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "38b9e676ddfde232",
        "type": "mqtt in",
        "z": "1c6759660a32fda5",
        "name": "PUB2",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6e294e8eeec8172b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 690,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "3b8d720865dd94ec",
        "type": "change",
        "z": "1c6759660a32fda5",
        "name": "MQTT PUB2",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.broker",
                "pt": "msg",
                "to": "payload.downloader.brokers[1].broker",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains(payload.downloader.brokers[1].broker,/wss/) or $contains(payload.downloader.brokers[1].broker,/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "brokerinternal.verifyservercert",
                "pt": "msg",
                "to": "$exists(payload.downloader.brokers[1].verifycert) ? payload.downloader.brokers[1].verifycert : false",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "payload.downloader.brokers[1].username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "payload.downloader.brokers[1].password",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$exists(payload.downloader.brokers[1].version)  ? payload.downloader.brokers[1].version : 4",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "pub2",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 760,
        "wires": [
            [
                "38b9e676ddfde232"
            ]
        ]
    },
    {
        "id": "c9b74ad689069416",
        "type": "switch",
        "z": "1c6759660a32fda5",
        "name": "PUB2 ?",
        "property": "$type(payload.downloader.brokers[1].broke) = \"string\"",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 760,
        "wires": [
            [
                "3b8d720865dd94ec"
            ]
        ]
    },
    {
        "id": "5d42ee77a114390f",
        "type": "inject",
        "z": "1c6759660a32fda5",
        "name": "",
        "props": [
            {
                "p": "topic",
                "v": "[ $globalContext(\"queue\") ]",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 1040,
        "wires": [
            [
                "c5db1c926224f449"
            ]
        ]
    },
    {
        "id": "c5db1c926224f449",
        "type": "redis-command",
        "z": "1c6759660a32fda5",
        "server": "029ff868be3010db",
        "command": "DEL",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 420,
        "y": 1040,
        "wires": [
            [
                "2c6ca2a7adf39c5f"
            ]
        ]
    },
    {
        "id": "2c6ca2a7adf39c5f",
        "type": "debug",
        "z": "1c6759660a32fda5",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 1040,
        "wires": []
    },
    {
        "id": "0bd6365cdaa557ee",
        "type": "redis-command",
        "z": "1c6759660a32fda5",
        "server": "029ff868be3010db",
        "command": "XGROUP",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 440,
        "y": 1080,
        "wires": [
            [
                "aa571423d35a465e"
            ]
        ]
    },
    {
        "id": "0f90c6033a51b206",
        "type": "inject",
        "z": "1c6759660a32fda5",
        "name": "",
        "props": [
            {
                "p": "topic",
                "v": "[ \"CREATE\", $globalContext(\"queue\"),  $globalContext(\"queue\") , \"$\", \"MKSTREAM\"]",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 1080,
        "wires": [
            [
                "0bd6365cdaa557ee"
            ]
        ]
    },
    {
        "id": "aa571423d35a465e",
        "type": "debug",
        "z": "1c6759660a32fda5",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1080,
        "wires": []
    },
    {
        "id": "f53714198eb1e993",
        "type": "mqtt in",
        "z": "a843f3ff30ad0d18",
        "d": true,
        "name": "GB1",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "2d4daa951d924bcf"
            ]
        ]
    },
    {
        "id": "2d4daa951d924bcf",
        "type": "rbe",
        "z": "a843f3ff30ad0d18",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 690,
        "y": 120,
        "wires": [
            [
                "e8e9918ab2ea8a60"
            ]
        ]
    },
    {
        "id": "b778150ac43b8303",
        "type": "delay",
        "z": "a843f3ff30ad0d18",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 475,
        "y": 160,
        "wires": [
            [
                "6effc579c4b9bbf3",
                "f53714198eb1e993"
            ]
        ],
        "l": false
    },
    {
        "id": "7393b90c797c185f",
        "type": "redis-in",
        "z": "a843f3ff30ad0d18",
        "server": "029ff868be3010db",
        "command": "psubscribe",
        "name": "Sub",
        "topic": "wis2gc:mqtt:*",
        "obj": true,
        "timeout": 0,
        "x": 210,
        "y": 340,
        "wires": [
            [
                "cdea0b315445225b"
            ]
        ]
    },
    {
        "id": "dd26e12524ceb0cf",
        "type": "change",
        "z": "a843f3ff30ad0d18",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ \"wis2gc:mqtt:\" & $globalContext(\"queue\") & \":\" & mqtttopic1, $string(mqttpayload1) ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 120,
        "wires": [
            [
                "deed215fd6e4f8f2"
            ]
        ]
    },
    {
        "id": "6effc579c4b9bbf3",
        "type": "mqtt in",
        "z": "a843f3ff30ad0d18",
        "d": true,
        "name": "GB2",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f085bb836f7619e2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "68d4df2b43657354"
            ]
        ]
    },
    {
        "id": "007578fcc8005f1a",
        "type": "rbe",
        "z": "a843f3ff30ad0d18",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 750,
        "y": 200,
        "wires": [
            [
                "814c7f3fed9c6c87"
            ]
        ]
    },
    {
        "id": "eefc0d32b16117f3",
        "type": "change",
        "z": "a843f3ff30ad0d18",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ \"stream:\" & $globalContext(\"queue\") & \":\" & mqtttopic2, $string(mqttpayload2) ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 200,
        "wires": [
            [
                "7157bb2dd11e8234"
            ]
        ]
    },
    {
        "id": "e8e9918ab2ea8a60",
        "type": "change",
        "z": "a843f3ff30ad0d18",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mqtttopic1",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"wnmid#\" & msg.mqttpayload1.id,true,\"NX\",\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 120,
        "wires": [
            [
                "522e09cdb6843f51"
            ]
        ]
    },
    {
        "id": "1b8b7fb7e63be747",
        "type": "switch",
        "z": "a843f3ff30ad0d18",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1070,
        "y": 120,
        "wires": [
            [
                "dd26e12524ceb0cf"
            ]
        ]
    },
    {
        "id": "814c7f3fed9c6c87",
        "type": "change",
        "z": "a843f3ff30ad0d18",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mqtttopic2",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"wnmid#\" & msg.mqttpayload2.id,true,\"NX\",\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 200,
        "wires": [
            [
                "aa5146ce5de05959"
            ]
        ]
    },
    {
        "id": "573d857dca13c79d",
        "type": "switch",
        "z": "a843f3ff30ad0d18",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1130,
        "y": 200,
        "wires": [
            [
                "eefc0d32b16117f3"
            ]
        ]
    },
    {
        "id": "68d4df2b43657354",
        "type": "delay",
        "z": "a843f3ff30ad0d18",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 655,
        "y": 200,
        "wires": [
            [
                "007578fcc8005f1a"
            ]
        ],
        "l": false
    },
    {
        "id": "55d8e6090f953b1c",
        "type": "inject",
        "z": "a843f3ff30ad0d18",
        "name": "",
        "props": [
            {
                "p": "topic",
                "v": "topic",
                "vt": "global"
            },
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "a99b9e45079692f2"
            ]
        ]
    },
    {
        "id": "7157bb2dd11e8234",
        "type": "redis-command",
        "z": "a843f3ff30ad0d18",
        "server": "029ff868be3010db",
        "command": "PUBLISH",
        "name": "Pub",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1390,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "aa5146ce5de05959",
        "type": "redis-command",
        "z": "a843f3ff30ad0d18",
        "server": "029ff868be3010db",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "573d857dca13c79d"
            ]
        ]
    },
    {
        "id": "deed215fd6e4f8f2",
        "type": "redis-command",
        "z": "a843f3ff30ad0d18",
        "server": "029ff868be3010db",
        "command": "PUBLISH",
        "name": "Pub",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1330,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "522e09cdb6843f51",
        "type": "redis-command",
        "z": "a843f3ff30ad0d18",
        "server": "029ff868be3010db",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 950,
        "y": 120,
        "wires": [
            [
                "1b8b7fb7e63be747"
            ]
        ]
    },
    {
        "id": "cdea0b315445225b",
        "type": "switch",
        "z": "a843f3ff30ad0d18",
        "name": "Queue ?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "queue",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "159829cf1ec47bdc"
            ]
        ]
    },
    {
        "id": "159829cf1ec47bdc",
        "type": "switch",
        "z": "a843f3ff30ad0d18",
        "name": "Canonical ?",
        "property": "payload.links[rel=\"canonical\"].href or payload.links[rel=\"update\"].href",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 340,
        "wires": [
            [
                "85607c7cdaa15577"
            ]
        ]
    },
    {
        "id": "85607c7cdaa15577",
        "type": "change",
        "z": "a843f3ff30ad0d18",
        "name": "Save msg",
        "rules": [
            {
                "t": "set",
                "p": "wnm",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "wnmtopic",
                "pt": "msg",
                "to": "$split(topic,\":\")[3]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "source",
                "pt": "msg",
                "to": "$contains(wnmtopic,\"origin\") ? \"origin\" : ( \t    wnm.properties.cache = false ? \"nocache\" : (\t        $type(wnm.properties.\"global-cache\") = \"string\" ? $substringBefore( wnm.properties.\"global-cache\",\"-global-cache\") : \"unknown\" \t    )\t)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"data_id:\" & wnm.properties.data_id",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 340,
        "wires": [
            [
                "c280bb1ee5d76428"
            ]
        ]
    },
    {
        "id": "c280bb1ee5d76428",
        "type": "switch",
        "z": "a843f3ff30ad0d18",
        "name": "Content ?",
        "property": "wnm.properties",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "content",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 780,
        "y": 340,
        "wires": [
            [
                "c24e55bf44dbb8ba"
            ],
            [
                "d36ea444e07699a5"
            ]
        ]
    },
    {
        "id": "c24e55bf44dbb8ba",
        "type": "change",
        "z": "a843f3ff30ad0d18",
        "name": "Remove",
        "rules": [
            {
                "t": "delete",
                "p": "wnm.properties.content",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 320,
        "wires": [
            [
                "d36ea444e07699a5"
            ]
        ]
    },
    {
        "id": "d36ea444e07699a5",
        "type": "change",
        "z": "a843f3ff30ad0d18",
        "name": "Get data_id",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"downloader:data_id:\" & wnm.properties.data_id",
                "tot": "jsonata",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 340,
        "wires": [
            [
                "8edbed74d60425f1"
            ]
        ]
    },
    {
        "id": "8edbed74d60425f1",
        "type": "redis-command",
        "z": "a843f3ff30ad0d18",
        "server": "029ff868be3010db",
        "command": "EXISTS",
        "name": "Exists",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1230,
        "y": 340,
        "wires": [
            [
                "903a4083203d49e3"
            ]
        ]
    },
    {
        "id": "914f3f9e75a3e351",
        "type": "change",
        "z": "a843f3ff30ad0d18",
        "name": "HSET",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"downloader:data_id:\" & data_id , href , \"wait-\" & source]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 540,
        "wires": [
            [
                "cf3cd2d23ae9970f",
                "0e7f35daf152af5b"
            ]
        ]
    },
    {
        "id": "50fc1eedfc6c38b3",
        "type": "switch",
        "z": "a843f3ff30ad0d18",
        "name": "HREFs ?",
        "property": "href",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "array",
                "vt": "array"
            },
            {
                "t": "istype",
                "v": "string",
                "vt": "string"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 560,
        "wires": [
            [
                "460770b0f9fe7592"
            ],
            [
                "8f1c48c936bd32b5"
            ]
        ]
    },
    {
        "id": "460770b0f9fe7592",
        "type": "split",
        "z": "a843f3ff30ad0d18",
        "name": "To String",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "href",
        "x": 540,
        "y": 540,
        "wires": [
            [
                "2b64a788c7b26962"
            ]
        ]
    },
    {
        "id": "8f1c48c936bd32b5",
        "type": "change",
        "z": "a843f3ff30ad0d18",
        "name": "HSET",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"downloader:data_id:\" & data_id , href , \"wait-\" & source ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 580,
        "wires": [
            [
                "cf3cd2d23ae9970f",
                "0e7f35daf152af5b"
            ]
        ]
    },
    {
        "id": "38e024f8aca1fb46",
        "type": "change",
        "z": "a843f3ff30ad0d18",
        "name": "Init",
        "rules": [
            {
                "t": "set",
                "p": "href",
                "pt": "msg",
                "to": "$exists(wnm.links[rel=\"update\"].href) ? wnm.links[rel=\"update\"].href : wnm.links[rel=\"canonical\"].href ",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "$exists(wnm.links[rel=\"update\"].type) ?    (\t   $type(wnm.links[rel=\"update\"].type) = \"array\" ? wnm.links[rel=\"update\"].type[0] : wnm.links[rel=\"update\"].type\t) :   (\t   $type(wnm.links[rel=\"canonical\"].type) = \"array\" ? wnm.links[rel=\"canonical\"].type[0] : wnm.links[rel=\"canonical\"].type\t)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "data_id",
                "pt": "msg",
                "to": "wnm.properties.data_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "length",
                "pt": "msg",
                "to": "$exists(wnm.links[rel=\"update\"].length) ? wnm.links[rel=\"update\"].length :  (\t   $exists(wnm.links[rel=\"canonical\"].length) ? wnm.links[rel=\"canonical\"].length : 99999\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 460,
        "wires": [
            [
                "a94a6d748aa14378"
            ]
        ]
    },
    {
        "id": "a94a6d748aa14378",
        "type": "switch",
        "z": "a843f3ff30ad0d18",
        "name": "HREFs ?",
        "property": "href",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "array",
                "vt": "array"
            },
            {
                "t": "istype",
                "v": "string",
                "vt": "string"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 460,
        "wires": [
            [
                "08c0776947743372"
            ],
            [
                "63abeb1af471385d"
            ]
        ]
    },
    {
        "id": "08c0776947743372",
        "type": "split",
        "z": "a843f3ff30ad0d18",
        "name": "To String",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "href",
        "x": 540,
        "y": 440,
        "wires": [
            [
                "df1b85c0fddf7292"
            ]
        ]
    },
    {
        "id": "df1b85c0fddf7292",
        "type": "switch",
        "z": "a843f3ff30ad0d18",
        "name": "Index ?",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 680,
        "y": 440,
        "wires": [
            [
                "03d07a850695bf10"
            ]
        ]
    },
    {
        "id": "dc534fdddf9115b5",
        "type": "link out",
        "z": "a843f3ff30ad0d18",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "e436b9c9fec0bef9"
        ],
        "x": 1455,
        "y": 320,
        "wires": []
    },
    {
        "id": "61b10c4bfce3925e",
        "type": "link out",
        "z": "a843f3ff30ad0d18",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "48d3546eb5fbdea5"
        ],
        "x": 1595,
        "y": 360,
        "wires": []
    },
    {
        "id": "e436b9c9fec0bef9",
        "type": "link in",
        "z": "a843f3ff30ad0d18",
        "name": "link in 6",
        "links": [
            "dc534fdddf9115b5"
        ],
        "x": 185,
        "y": 460,
        "wires": [
            [
                "38e024f8aca1fb46"
            ]
        ]
    },
    {
        "id": "48d3546eb5fbdea5",
        "type": "link in",
        "z": "a843f3ff30ad0d18",
        "name": "link in 7",
        "links": [
            "61b10c4bfce3925e"
        ],
        "x": 185,
        "y": 560,
        "wires": [
            [
                "71061389749143be"
            ]
        ]
    },
    {
        "id": "2b64a788c7b26962",
        "type": "switch",
        "z": "a843f3ff30ad0d18",
        "name": "Index ?",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 680,
        "y": 540,
        "wires": [
            [
                "914f3f9e75a3e351"
            ]
        ]
    },
    {
        "id": "65edc2713b2f6808",
        "type": "change",
        "z": "a843f3ff30ad0d18",
        "name": "Expire",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"data_id:\" & data_id , 21600 ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 440,
        "wires": [
            [
                "03668a87e18409ef"
            ]
        ]
    },
    {
        "id": "46b244fbdbb29b75",
        "type": "change",
        "z": "a843f3ff30ad0d18",
        "name": "HSET",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"downloader:data_id:\" & data_id , href , \"queue-\" & source , \"wnm\", $string(wnm), \"topic\", wnmtopic, \"published\", $millis(), attempt, 1 ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "a34872baa44258e7",
                "864e52bf8c550edb"
            ]
        ]
    },
    {
        "id": "03d07a850695bf10",
        "type": "link out",
        "z": "a843f3ff30ad0d18",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "b26a9ecefc1fe050",
            "eda5e2883ada43f9"
        ],
        "x": 775,
        "y": 440,
        "wires": []
    },
    {
        "id": "63abeb1af471385d",
        "type": "link out",
        "z": "a843f3ff30ad0d18",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "b26a9ecefc1fe050",
            "eda5e2883ada43f9"
        ],
        "x": 495,
        "y": 480,
        "wires": []
    },
    {
        "id": "b26a9ecefc1fe050",
        "type": "link in",
        "z": "a843f3ff30ad0d18",
        "name": "link in 8",
        "links": [
            "03d07a850695bf10",
            "63abeb1af471385d"
        ],
        "x": 935,
        "y": 440,
        "wires": [
            [
                "46b244fbdbb29b75"
            ]
        ]
    },
    {
        "id": "eda5e2883ada43f9",
        "type": "link in",
        "z": "a843f3ff30ad0d18",
        "name": "link in 9",
        "links": [
            "03d07a850695bf10",
            "63abeb1af471385d"
        ],
        "x": 935,
        "y": 480,
        "wires": [
            [
                "0bb92d3863dcdad7"
            ]
        ]
    },
    {
        "id": "0bb92d3863dcdad7",
        "type": "change",
        "z": "a843f3ff30ad0d18",
        "name": "Queue",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ $globalContext(\"queue\"),\"*\",\"data_id\",data_id,\"href\", href ]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 480,
        "wires": [
            [
                "54710069ff7a89e7"
            ]
        ]
    },
    {
        "id": "54710069ff7a89e7",
        "type": "redis-command",
        "z": "a843f3ff30ad0d18",
        "server": "029ff868be3010db",
        "command": "XADD",
        "name": "XADD",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1150,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "903a4083203d49e3",
        "type": "switch",
        "z": "a843f3ff30ad0d18",
        "name": "Chech ID",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1360,
        "y": 340,
        "wires": [
            [
                "dc534fdddf9115b5"
            ],
            [
                "ea15ef83bb43c3b5"
            ]
        ]
    },
    {
        "id": "71061389749143be",
        "type": "change",
        "z": "a843f3ff30ad0d18",
        "name": "Init",
        "rules": [
            {
                "t": "set",
                "p": "href",
                "pt": "msg",
                "to": "$exists(wnm.links[rel=\"update\"].href) ? wnm.links[rel=\"update\"].href : wnm.links[rel=\"canonical\"].href ",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "$exists(wnm.links[rel=\"update\"].type) ?    (\t   $type(wnm.links[rel=\"update\"].type) = \"array\" ? wnm.links[rel=\"update\"].type[0] : wnm.links[rel=\"update\"].type\t) :   (\t   $type(wnm.links[rel=\"canonical\"].type) = \"array\" ? wnm.links[rel=\"canonical\"].type[0] : wnm.links[rel=\"canonical\"].type\t)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "data_id",
                "pt": "msg",
                "to": "wnm.properties.data_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "length",
                "pt": "msg",
                "to": "$exists(wnm.links[rel=\"update\"].length) ? wnm.links[rel=\"update\"].length :  (\t   $exists(wnm.links[rel=\"canonical\"].length) ? wnm.links[rel=\"canonical\"].length : 99999\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 560,
        "wires": [
            [
                "50fc1eedfc6c38b3"
            ]
        ]
    },
    {
        "id": "a34872baa44258e7",
        "type": "redis-command",
        "z": "a843f3ff30ad0d18",
        "server": "029ff868be3010db",
        "command": "HSET",
        "name": "HSET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1150,
        "y": 440,
        "wires": [
            [
                "65edc2713b2f6808"
            ]
        ]
    },
    {
        "id": "cf3cd2d23ae9970f",
        "type": "redis-command",
        "z": "a843f3ff30ad0d18",
        "server": "029ff868be3010db",
        "command": "HSET",
        "name": "HSET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 950,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "03668a87e18409ef",
        "type": "redis-command",
        "z": "a843f3ff30ad0d18",
        "server": "029ff868be3010db",
        "command": "EXPIRE",
        "name": "Expire",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1390,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a99b9e45079692f2",
        "type": "switch",
        "z": "a843f3ff30ad0d18",
        "name": "Subscriber ?",
        "property": "subscriber",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "b778150ac43b8303"
            ]
        ]
    },
    {
        "id": "864e52bf8c550edb",
        "type": "debug",
        "z": "a843f3ff30ad0d18",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 1310,
        "y": 560,
        "wires": []
    },
    {
        "id": "0e7f35daf152af5b",
        "type": "debug",
        "z": "a843f3ff30ad0d18",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 860,
        "y": 660,
        "wires": []
    },
    {
        "id": "ea15ef83bb43c3b5",
        "type": "switch",
        "z": "a843f3ff30ad0d18",
        "name": "Source ?",
        "property": "source",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "nocache",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1500,
        "y": 360,
        "wires": [
            [
                "61b10c4bfce3925e"
            ]
        ]
    },
    {
        "id": "02f307787221b54b",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "message",
                "v": "[{\"jsonrpc\":\"2.0\",\"method\":\"aria2.addUri\",\"id\":\"1\",\"params\":[\"token:secret\",[\"https://scgc.teganet.eu/log/global-cache-2026-02-04-07.log.gz\"]]},{\"jsonrpc\":\"2.0\",\"method\":\"aria2.addUri\",\"id\":\"2\",\"params\":[\"token:secret\",[\"https://scgc.teganet.eu/log/global-cache-2026-02-04-08.log.gz\"]]}]",
                "vt": "json"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1910,
        "y": 2460,
        "wires": [
            [
                "adf46d45f6ead446",
                "8980bbb1e5bbcfe5"
            ]
        ]
    },
    {
        "id": "7cd878525180a0a9",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "v": "[ $globalContext(\"queue\") ]",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 330,
        "y": 2180,
        "wires": [
            [
                "f62cb70fd6d3cb52"
            ]
        ]
    },
    {
        "id": "89ba6f5b21858283",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 2180,
        "wires": []
    },
    {
        "id": "f62cb70fd6d3cb52",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "XLEN",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 510,
        "y": 2180,
        "wires": [
            [
                "89ba6f5b21858283"
            ]
        ]
    },
    {
        "id": "d892c295e1e6cb87",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "v": "[ \"STREAM\", $globalContext(\"queue\") ]",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 330,
        "y": 2240,
        "wires": [
            [
                "ce2e961c3218aa32"
            ]
        ]
    },
    {
        "id": "b8b78de463a0dc2b",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$reduce(\t   payload.$,\t   function($acc, $v, $i, $a){\t       $i % 2 = 0     ? $merge(\t           [\t               $acc,\t               { ($string($v)): $a[$i+1] }       \t           ]\t       )     : $acc   \t   },\t   {} \t)",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 2240,
        "wires": []
    },
    {
        "id": "ce2e961c3218aa32",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "XINFO",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 510,
        "y": 2240,
        "wires": [
            [
                "b8b78de463a0dc2b"
            ]
        ]
    },
    {
        "id": "7cc061026c10432f",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "XREADGROUP",
        "name": "Get One",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 480,
        "y": 2300,
        "wires": [
            [
                "80746087f1bdc5d5",
                "1301b643b0b4da85"
            ]
        ]
    },
    {
        "id": "bb25eefbc039ebb5",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "v": "[   \"GROUP\",   $globalContext(\"queue\"),   $globalContext(\"worker\"),   \"COUNT\",   \"5\",   \"STREAMS\",   $globalContext(\"queue\"),   \">\" ]",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 320,
        "y": 2300,
        "wires": [
            [
                "7cc061026c10432f",
                "33ea24cc2c25e0b7"
            ]
        ]
    },
    {
        "id": "80746087f1bdc5d5",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 2300,
        "wires": []
    },
    {
        "id": "30a920e690c61431",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "XGROUP",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 520,
        "y": 2360,
        "wires": [
            [
                "a48a26e46b148c62"
            ]
        ]
    },
    {
        "id": "d342154194b2475a",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "v": "[ \"CREATE\", $globalContext(\"queue\"),  $globalContext(\"queue\") , \"$\", \"MKSTREAM\"]",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 300,
        "y": 2360,
        "wires": [
            [
                "30a920e690c61431"
            ]
        ]
    },
    {
        "id": "a48a26e46b148c62",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 2360,
        "wires": []
    },
    {
        "id": "33ea24cc2c25e0b7",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 2420,
        "wires": []
    },
    {
        "id": "d9c5e82d072e447d",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 2560,
        "wires": []
    },
    {
        "id": "e22c6452ede60dbc",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[   \"fr-meteofrance-queue1\",   [     [       \"1770201192162-0\",       [         \"href\",         \"https://gc.wis.cma.cn/20260203/cache/a/wis2/de-dwd-gts-to-wis2/data/core/I/S/G/D/07/EDZW/A_ISGD07EDZW031550_C_EDZW_20260203160500_46026492\"       ]     ],     [       \"1770201194156-0\",       [         \"href\",         \"https://gc.wis.cma.cn/20260203/cache/a/wis2/de-dwd-gts-to-wis2/data/core/I/S/G/D/07/EDZW/A_ISGD07EDZW031550_C_EDZW_20260203160500_46026492\"       ]     ],     [       \"1770201195863-0\",       [         \"href\",         \"https://gc.wis.cma.cn/20260203/cache/a/wis2/de-dwd-gts-to-wis2/data/core/I/S/G/D/07/EDZW/A_ISGD07EDZW031550_C_EDZW_20260203160500_46026492\"       ]     ],     [       \"1770201197241-0\",       [         \"href\",         \"https://gc.wis.cma.cn/20260203/cache/a/wis2/de-dwd-gts-to-wis2/data/core/I/S/G/D/07/EDZW/A_ISGD07EDZW031550_C_EDZW_20260203160500_46026492\"       ]     ],     [       \"1770201198728-0\",       [         \"href\",         \"https://gc.wis.cma.cn/20260203/cache/a/wis2/de-dwd-gts-to-wis2/data/core/I/S/G/D/07/EDZW/A_ISGD07EDZW031550_C_EDZW_20260203160500_46026492\"       ]     ]   ] ]",
        "payloadType": "json",
        "x": 1090,
        "y": 2540,
        "wires": [
            [
                "213a3652951a5d98",
                "96b5f2067855f722"
            ]
        ]
    },
    {
        "id": "213a3652951a5d98",
        "type": "split",
        "z": "caa031b5574b994f",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "time",
        "property": "payload",
        "x": 1260,
        "y": 2540,
        "wires": [
            [
                "1f928c7b8dd6dcfe"
            ]
        ]
    },
    {
        "id": "db9730d6752bd86a",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 39",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 2540,
        "wires": []
    },
    {
        "id": "1f928c7b8dd6dcfe",
        "type": "split",
        "z": "caa031b5574b994f",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "time",
        "property": "payload",
        "x": 1420,
        "y": 2540,
        "wires": [
            [
                "db9730d6752bd86a"
            ]
        ]
    },
    {
        "id": "96b5f2067855f722",
        "type": "function",
        "z": "caa031b5574b994f",
        "name": "function 3",
        "func": "\nconst input = msg.payload;\n\nconst queue = input[0];\nconst entries = input[1];\n\nconst result = entries.map(entry => ({\n  id: entry[0],\n  href: entry[1][1]\n}));\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 2620,
        "wires": [
            [
                "51a69d64a85007dd"
            ]
        ]
    },
    {
        "id": "4060a11f6b8cd165",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 2620,
        "wires": []
    },
    {
        "id": "51a69d64a85007dd",
        "type": "split",
        "z": "caa031b5574b994f",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "time",
        "property": "payload",
        "x": 1440,
        "y": 2620,
        "wires": [
            [
                "4060a11f6b8cd165"
            ]
        ]
    },
    {
        "id": "5c33ce2242b34701",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[[\"fr-meteofrance-queue1\",[[\"1770211499645-0\",[\"data_id\",\"wis212347ff8111/de-dwd-gts-to-wis2/data/core/I/S/G/D/07/EDZW/ISGD07EDZW031550_C_EDZW_20260203160500_46026492\",\"href\",\"https://gc.wis.cma.cn/20260203/cache/a/wis2/de-dwd-gts-to-wis2/data/core/I/S/G/D/07/EDZW/A_ISGD07EDZW031550_C_EDZW_20260203160500_46026492\"]],[\"1770211499819-0\",[\"data_id\",\"wis212347ff8111/de-dwd-gts-to-wis2/data/core/I/S/G/D/07/EDZW/ISGD07EDZW031550_C_EDZW_20260203160500_46026492\",\"href\",\"https://gc.wis.cma.cn/20260203/cache/a/wis2/de-dwd-gts-to-wis2/data/core/I/S/G/D/07/EDZW/A_ISGD07EDZW031550_C_EDZW_20260203160500_46026492\"]],[\"1770211500004-0\",[\"data_id\",\"wis212347ff8111/de-dwd-gts-to-wis2/data/core/I/S/G/D/07/EDZW/ISGD07EDZW031550_C_EDZW_20260203160500_46026492\",\"href\",\"https://gc.wis.cma.cn/20260203/cache/a/wis2/de-dwd-gts-to-wis2/data/core/I/S/G/D/07/EDZW/A_ISGD07EDZW031550_C_EDZW_20260203160500_46026492\"]],[\"1770211500150-0\",[\"data_id\",\"wis212347ff8111/de-dwd-gts-to-wis2/data/core/I/S/G/D/07/EDZW/ISGD07EDZW031550_C_EDZW_20260203160500_46026492\",\"href\",\"https://gc.wis.cma.cn/20260203/cache/a/wis2/de-dwd-gts-to-wis2/data/core/I/S/G/D/07/EDZW/A_ISGD07EDZW031550_C_EDZW_20260203160500_46026492\"]]]]]",
        "payloadType": "json",
        "x": 440,
        "y": 2680,
        "wires": [
            [
                "1301b643b0b4da85"
            ]
        ]
    },
    {
        "id": "1301b643b0b4da85",
        "type": "function",
        "z": "caa031b5574b994f",
        "name": "function 4",
        "func": "const input = msg.payload[0];  // Get the first element of the outer array\nconst queue = input[0];\nconst entries = input[1];\n\nconst messages = entries.map(entry => {\n  const id = entry[0];\n  const fields = entry[1];\n  \n  // Convert the flat array of key-value pairs to an object\n  const obj = { id: id };\n  for (let i = 0; i < fields.length; i += 2) {\n    obj[fields[i]] = fields[i + 1];\n  }\n  \n  return { payload: obj };\n});\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 2680,
        "wires": [
            [
                "22eb9d5b61c62025"
            ]
        ]
    },
    {
        "id": "22eb9d5b61c62025",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 42",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "[ \"streamid:\" & payload.id, \"data_id\", payload.data_id, \"href\", payload.href]",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 2680,
        "wires": []
    },
    {
        "id": "63c882d79db04777",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$reduce(\t   payload.$,\t   function($acc, $v, $i, $a){\t       $i % 2 = 0     ? $merge(\t           [\t               $acc,\t               { ($string($v)): $a[$i+1] }       \t           ]\t       )     : $acc   \t   },\t   {} \t)",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 2600,
        "wires": []
    },
    {
        "id": "81fcc8e81a6af5ae",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "v": "[ $globalContext(\"queue\") ]",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 380,
        "y": 2820,
        "wires": [
            [
                "35b601b3bf2f5251"
            ]
        ]
    },
    {
        "id": "35b601b3bf2f5251",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "DEL",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 580,
        "y": 2820,
        "wires": [
            [
                "e10a905a3fab36ba"
            ]
        ]
    },
    {
        "id": "e10a905a3fab36ba",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 2820,
        "wires": []
    },
    {
        "id": "1e83ad1eb09dcbc6",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "v": "[ $globalContext(\"queue\"), $globalContext(\"queue\"),\"1770221001071-0\" ]",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1130,
        "y": 2300,
        "wires": [
            [
                "d7062b138ce6bcd1"
            ]
        ]
    },
    {
        "id": "fedd5edf86a9dcd2",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 2300,
        "wires": []
    },
    {
        "id": "d7062b138ce6bcd1",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "XACK",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1310,
        "y": 2300,
        "wires": [
            [
                "fedd5edf86a9dcd2"
            ]
        ]
    },
    {
        "id": "66b2f64fd67c6d52",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 2460,
        "wires": []
    },
    {
        "id": "f73d28dbd75d1e82",
        "type": "inject",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "Init",
        "props": [
            {
                "p": "topic",
                "v": "[ \"GROUPS\", $globalContext(\"queue\")]",
                "vt": "jsonata"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "d87d47bc6bd984ba"
            ]
        ]
    },
    {
        "id": "49d458fd5b67dfc0",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "XINFO",
        "name": "XINFO GROUPS",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 610,
        "y": 240,
        "wires": [
            [
                "4d36441b24f151da"
            ]
        ]
    },
    {
        "id": "4d36441b24f151da",
        "type": "function",
        "z": "caa031b5574b994f",
        "name": "Values",
        "func": "const input = msg.payload[0];\n\n// Convert flat array to object, removing hyphens from keys\nfor (let i = 0; i < input.length; i += 2) {\n  const key = input[i].replace(/-/g, '');\n  const value = input[i + 1];\n  msg[key] = value;\n}\n\nflow.set(\"lag\",msg.lag)\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"inQueue\",0)",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 240,
        "wires": [
            [
                "7b5ee8ef8f77b6ef"
            ]
        ]
    },
    {
        "id": "7b5ee8ef8f77b6ef",
        "type": "switch",
        "z": "caa031b5574b994f",
        "name": "Lag ?",
        "property": "lag > 0 and $flowContext(\"inQueue\") < 400",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 240,
        "wires": [
            [
                "e221ef67fcf77602"
            ]
        ]
    },
    {
        "id": "4cfd3337684b8e79",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "XREADGROUP",
        "name": "XREAD",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1140,
        "y": 240,
        "wires": [
            [
                "660c058098466121",
                "22197b7074f75430",
                "ada4f85f94febb91"
            ]
        ]
    },
    {
        "id": "ada4f85f94febb91",
        "type": "function",
        "z": "caa031b5574b994f",
        "name": "Href",
        "func": "const input = msg.payload[0];  // Get the first element of the outer array\nconst queue = input[0];\nconst entries = input[1];\n\nconst messages = entries.map(entry => {\n  const id = entry[0];\n  const fields = entry[1];\n  \n  // Convert the flat array of key-value pairs to an object\n  const obj = { id: id };\n  for (let i = 0; i < fields.length; i += 2) {\n    obj[fields[i]] = fields[i + 1];\n  }\n  \n  return { downloads: obj };\n});\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 240,
        "wires": [
            [
                "0bada05834d6eeb5",
                "af9eae6e71476a18",
                "fb75b5f43fd0cf1a"
            ]
        ]
    },
    {
        "id": "0bada05834d6eeb5",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "Aria",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "downloads.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"downloader:\" & $globalContext(\"worker\") & \":timestamp:\" & timestamp, \"stream_id\", downloads.id, \"data_id\", downloads.data_id, \"href\", downloads.href]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "{\"jsonrpc\":\"2.0\",\"method\":\"aria2.addUri\",\"id\": timestamp,\"params\":[\"token:secret\",[ downloads.href ]]}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 240,
        "wires": [
            [
                "6ae21a0a60ee3e18",
                "545beb18156b8a74"
            ]
        ]
    },
    {
        "id": "af9eae6e71476a18",
        "type": "logIO",
        "z": "caa031b5574b994f",
        "name": "logIO 1",
        "active": true,
        "logger": "da22e3d34a4a5179",
        "complete": "payload",
        "targetType": "msg",
        "logIOMode": "inline",
        "logIOScope": "I",
        "autoStart": true,
        "scope": [],
        "x": 1590,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e221ef67fcf77602",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "Queue",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[   \"GROUP\",   $globalContext(\"queue\"),   $globalContext(\"worker\"),   \"COUNT\",   \"100\",   \"STREAMS\",   $globalContext(\"queue\"),   \">\" ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 240,
        "wires": [
            [
                "4cfd3337684b8e79"
            ]
        ]
    },
    {
        "id": "adf46d45f6ead446",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "Lag",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$flowContext(\"lag\")",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 2130,
        "y": 2420,
        "wires": []
    },
    {
        "id": "8980bbb1e5bbcfe5",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "inQueue",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$flowContext(\"inQueue\")",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 2140,
        "y": 2460,
        "wires": []
    },
    {
        "id": "660c058098466121",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "inQueue",
        "rules": [
            {
                "t": "set",
                "p": "inQueue",
                "pt": "flow",
                "to": "$flowContext(\"inQueue\") + $count(payload[0][1])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "040e2ff80605b0c9",
        "type": "link in",
        "z": "caa031b5574b994f",
        "name": "Complete",
        "links": [
            "9a78cd98a069fced",
            "83254dcdb59d2b7b"
        ],
        "x": 360,
        "y": 920,
        "wires": [
            [
                "55d2e511dfb5c291"
            ]
        ],
        "l": true
    },
    {
        "id": "6ae21a0a60ee3e18",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "HSET",
        "name": "HSET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1670,
        "y": 240,
        "wires": [
            [
                "0327cbb343879ddb",
                "de6645a70e1afe93"
            ]
        ]
    },
    {
        "id": "fb75b5f43fd0cf1a",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "downloads",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 100,
        "wires": []
    },
    {
        "id": "0327cbb343879ddb",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "Expire",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"downloader:\" & $globalContext(\"worker\") & \":timestamp:\" & timestamp , 180 ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 220,
        "wires": [
            [
                "426a07d4ae58705a"
            ]
        ]
    },
    {
        "id": "e170fc9c2e8f5844",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 1680,
        "y": 100,
        "wires": []
    },
    {
        "id": "545beb18156b8a74",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 29",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "message",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 100,
        "wires": []
    },
    {
        "id": "22197b7074f75430",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 49",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 100,
        "wires": []
    },
    {
        "id": "a705f21780b37c2a",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "v": "[ \"GROUPS\", $globalContext(\"queue\")]",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "c2d1581c2dfb7ec0"
            ]
        ]
    },
    {
        "id": "bed6957b5bd71319",
        "type": "link in",
        "z": "caa031b5574b994f",
        "name": "StartAck",
        "links": [],
        "x": 360,
        "y": 760,
        "wires": [
            [
                "59aa9b12c192df53"
            ]
        ],
        "l": true
    },
    {
        "id": "59aa9b12c192df53",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "GID ?",
        "rules": [
            {
                "t": "set",
                "p": "gid",
                "pt": "msg",
                "to": "payload.result.gid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"downloader:\" & $globalContext(\"worker\") & \":aria2_id:\" & gid ] ",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 760,
        "wires": [
            [
                "673b8c81bcd0d31b"
            ]
        ]
    },
    {
        "id": "673b8c81bcd0d31b",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "HGETALL",
        "name": "HGETALL",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 620,
        "y": 760,
        "wires": [
            [
                "9cefeb03721f1cf7"
            ]
        ]
    },
    {
        "id": "f8e71999af77f9db",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "Ack",
        "rules": [
            {
                "t": "set",
                "p": "hget",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ $globalContext(\"queue\"), $globalContext(\"queue\"), payload.stream_id]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 760,
        "wires": [
            [
                "87c277225ad73c5b"
            ]
        ]
    },
    {
        "id": "9cefeb03721f1cf7",
        "type": "function",
        "z": "caa031b5574b994f",
        "name": "K/V",
        "func": "const arr = msg.payload;\nconst output = {};\n\nfor (let i = 0; i < arr.length; i += 2) {\n    const key = String(arr[i]);\n    const value = arr[i + 1];\n    output[key] = value;\n}\n\nmsg.payload = output;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 760,
        "wires": [
            [
                "f8e71999af77f9db"
            ]
        ]
    },
    {
        "id": "87c277225ad73c5b",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "XACK",
        "name": "Ack",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 990,
        "y": 760,
        "wires": [
            [
                "7181e3d4bb9a619e"
            ]
        ]
    },
    {
        "id": "7181e3d4bb9a619e",
        "type": "link out",
        "z": "caa031b5574b994f",
        "name": "FinAck",
        "mode": "return",
        "links": [],
        "x": 1110,
        "y": 760,
        "wires": [],
        "l": true
    },
    {
        "id": "c2d1581c2dfb7ec0",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "XINFO",
        "name": "XINFO GROUPS",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "0117deb7b29dd0b7",
                "6c863b87a538b556"
            ]
        ]
    },
    {
        "id": "6c863b87a538b556",
        "type": "function",
        "z": "caa031b5574b994f",
        "name": "Values",
        "func": "const input = msg.payload[0];\n\n// Convert flat array to object, removing hyphens from keys\nfor (let i = 0; i < input.length; i += 2) {\n  const key = input[i].replace(/-/g, '');\n  const value = input[i + 1];\n  msg[key] = value;\n}\n\nflow.set(\"lag\",msg.lag)\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"inQueue\",0)",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 140,
        "wires": [
            [
                "02d67b6cec2e82fa"
            ]
        ]
    },
    {
        "id": "02d67b6cec2e82fa",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "Queue",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[   \"GROUP\",   $globalContext(\"queue\"),   $globalContext(\"worker\"),   \"COUNT\",   \"2\",   \"STREAMS\",   $globalContext(\"queue\"),   \">\" ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 140,
        "wires": [
            [
                "4cfd3337684b8e79"
            ]
        ]
    },
    {
        "id": "98655394a299da9d",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "WNM",
        "rules": [
            {
                "t": "set",
                "p": "wnm",
                "pt": "msg",
                "to": "$eval(payload.wnm)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "wnmtopic",
                "pt": "msg",
                "to": "payload.topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "wnm",
                "pt": "msg",
                "to": "{\t   \"id\": payload.uuid,\t   \"type\": wnm.type,\t   \"conformsTo\": [ \"http://wis.wmo.int/spec/wnm/1/conf/core\" ],\t   \"geometry\": wnm.geometry,\t   \"properties\": wnm.properties,\t   \"links\": [wnm.links[rel=\"canonical\"][0]]  \t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "$exists(msg.wnm.properties.integrity) ? msg.wnm.properties.integrity.method : null",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "hash",
                "pt": "msg",
                "to": "$exists(msg.wnm.properties.integrity) ?  msg.wnm.properties.integrity.value : 0",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "href",
                "pt": "msg",
                "to": "wnm.links[0].href",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "dataidhash",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 920,
        "wires": [
            [
                "514b4b73e9a5a8bd",
                "824b698bc142e64d"
            ]
        ]
    },
    {
        "id": "1a867ae19b2242d5",
        "type": "function",
        "z": "caa031b5574b994f",
        "name": "Hash",
        "func": "const href = msg.href;\nconst method = msg.method;\nconst hashing = msg.hash;\nconst download = global.get(\"download_url\")\n\n// Example usage:\nlet filepath = \"/downloads/\" + href.split('/').pop();\n\nreturn new Promise((resolve, reject) => {\n    const hashfile = crypto.createHash(method);\n    const stream = fs.createReadStream(filepath);\n\n    stream.on(\"data\", chunk => hashfile.update(chunk));\n    stream.on(\"end\", () => {\n        const digestBase64 = hashfile.digest(\"base64\");\n        \n        if ( digestBase64 == hashing || hashing == 0 ) {\n            msg.payload = true\n            msg.localhref = download + filepath\n        }\n        else msg.payload = false\n        resolve(msg);\n    });\n    stream.on(\"error\", err => {\n        node.error(\"Failed to read or hash the file: \" + err.message);\n        msg.payload = null;\n        reject(msg);\n    });\n});\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            },
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 1110,
        "y": 920,
        "wires": [
            [
                "c1e88461775a3cf3",
                "a0d4e983f6766f95"
            ]
        ]
    },
    {
        "id": "c1e88461775a3cf3",
        "type": "switch",
        "z": "caa031b5574b994f",
        "name": "Correct ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1240,
        "y": 920,
        "wires": [
            [
                "7abde6069cced145"
            ],
            [
                "8a011d3a2eeceb67"
            ]
        ]
    },
    {
        "id": "bc32ee46f1310103",
        "type": "function",
        "z": "caa031b5574b994f",
        "name": "K/V + UUID",
        "func": "const arr = msg.payload;\nconst output = {};\n\nfor (let i = 0; i < arr.length; i += 2) {\n    const key = String(arr[i]);\n    const value = arr[i + 1];\n\n    output[key] = value;\n}\n\noutput[\"uuid\"] = crypto.randomUUID();\n\nmsg.payload = output;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 800,
        "y": 920,
        "wires": [
            [
                "98655394a299da9d",
                "504c07bd28799465"
            ]
        ]
    },
    {
        "id": "55d2e511dfb5c291",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "Extract",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"downloader:data_id:\" & hget.data_id",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 920,
        "wires": [
            [
                "4917cc0d5ed54eb1",
                "ee4aa54f82d0ef23"
            ]
        ]
    },
    {
        "id": "514b4b73e9a5a8bd",
        "type": "delay",
        "z": "caa031b5574b994f",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1025,
        "y": 920,
        "wires": [
            [
                "1a867ae19b2242d5"
            ]
        ],
        "l": false
    },
    {
        "id": "4917cc0d5ed54eb1",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "HGETALL",
        "name": "HGETALL",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 650,
        "y": 920,
        "wires": [
            [
                "bc32ee46f1310103"
            ]
        ]
    },
    {
        "id": "426a07d4ae58705a",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "EXPIRE",
        "name": "Expire",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1930,
        "y": 220,
        "wires": [
            [
                "e170fc9c2e8f5844"
            ]
        ]
    },
    {
        "id": "824b698bc142e64d",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 980,
        "wires": []
    },
    {
        "id": "504c07bd28799465",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 980,
        "wires": []
    },
    {
        "id": "a0d4e983f6766f95",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 40",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 980,
        "wires": []
    },
    {
        "id": "a6ca42c9f3a02fc7",
        "type": "switch",
        "z": "caa031b5574b994f",
        "name": "Back",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "$contains(payload.method,\"Complete\") or $contains(payload.method,\"Error\")",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "$type(payload.result) = \"string\"",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 600,
        "wires": [
            [
                "1d9079e47ab3ba91"
            ],
            [
                "507d242508715d48"
            ]
        ]
    },
    {
        "id": "de6645a70e1afe93",
        "type": "link out",
        "z": "caa031b5574b994f",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "e11d499878526ee0",
            "e9059783657b81d6"
        ],
        "x": 1775,
        "y": 260,
        "wires": []
    },
    {
        "id": "e11d499878526ee0",
        "type": "link in",
        "z": "caa031b5574b994f",
        "name": "link in 1",
        "links": [
            "de6645a70e1afe93",
            "85e0dc25dc81681b"
        ],
        "x": 715,
        "y": 540,
        "wires": [
            [
                "4e84f9dffc97517c"
            ]
        ]
    },
    {
        "id": "d87d47bc6bd984ba",
        "type": "switch",
        "z": "caa031b5574b994f",
        "name": "Downloader ?",
        "property": "downloader",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "49d458fd5b67dfc0"
            ]
        ]
    },
    {
        "id": "0117deb7b29dd0b7",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "1c52656edbf14dba",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[[\"fr-meteofrance-queue1\",[[\"1770387006019-1\",[\"data_id\",\"ir-irimo:core.surface-based-observations.synop/WIGOS_1-20000-0-40708_20260206T140000\",\"href\",\"https://global-cache-of-japan.s3.ap-northeast-1.amazonaws.com/wis2/data/pl-imgw%3Asurface-based-observations.synop/WIGOS_0-20000-0-12215_20260206T140000/1770387005/NOTWIGOS_0-20000-0-12215_20260206T140000.bufr4\"]]]]]",
        "payloadType": "json",
        "x": 1870,
        "y": 100,
        "wires": [
            [
                "ada4f85f94febb91"
            ]
        ]
    },
    {
        "id": "febdd299270156ec",
        "type": "link in",
        "z": "caa031b5574b994f",
        "name": "Error",
        "links": [
            "472ea609570f15f3",
            "fe1cf4fcdcaf4e23"
        ],
        "x": 350,
        "y": 1420,
        "wires": [
            [
                "3f9108575a9461d2"
            ]
        ],
        "l": true
    },
    {
        "id": "4e84f9dffc97517c",
        "type": "dynamic-websocket",
        "z": "caa031b5574b994f",
        "name": "Download",
        "url": "",
        "allowSelfSigned": false,
        "autoReconnect": false,
        "reconnectAttempts": 0,
        "reconnectInterval": 5000,
        "useExponentialBackoff": false,
        "authType": "none",
        "username": "",
        "password": "",
        "token": "",
        "tokenLocation": "url",
        "tokenKey": "Authorization",
        "headers": "",
        "transformMessages": false,
        "messageFormat": "json",
        "binarySupport": false,
        "validateMessages": false,
        "messageTemplate": "{\n  \"type\": \"message\",\n  \"id\": \"$id\",\n  \"content\": \"$content\",\n  \"timestamp\": \"2026-02-04T09:56:51.757Z\"\n}",
        "x": 820,
        "y": 600,
        "wires": [
            [
                "a6ca42c9f3a02fc7",
                "6e35c63905d2cb0d"
            ],
            [],
            []
        ]
    },
    {
        "id": "1d9079e47ab3ba91",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "Gid",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "payload.method",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\":\"2.0\",\t   \"method\":\"aria2.tellStatus\",\t   \"id\": \"1\",\t   \"params\":[\"token:\" & $globalContext(\"aria_secret\") , payload.params[0].gid ]\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 560,
        "wires": [
            [
                "ac8ba5f33c4a4f6b",
                "dee52c82aa0f04eb"
            ]
        ]
    },
    {
        "id": "ac8ba5f33c4a4f6b",
        "type": "dynamic-websocket",
        "z": "caa031b5574b994f",
        "name": "Status",
        "url": "",
        "allowSelfSigned": false,
        "autoReconnect": false,
        "reconnectAttempts": 0,
        "reconnectInterval": 5000,
        "useExponentialBackoff": false,
        "authType": "none",
        "username": "",
        "password": "",
        "token": "",
        "tokenLocation": "url",
        "tokenKey": "Authorization",
        "headers": "",
        "transformMessages": false,
        "messageFormat": "json",
        "binarySupport": false,
        "validateMessages": false,
        "messageTemplate": "{\n  \"type\": \"message\",\n  \"id\": \"$id\",\n  \"content\": \"$content\",\n  \"timestamp\": \"2026-02-04T09:56:51.757Z\"\n}",
        "x": 1230,
        "y": 560,
        "wires": [
            [
                "4853cf6522faa268",
                "222e7c6ef0ea5e82"
            ],
            [],
            []
        ]
    },
    {
        "id": "05f32a62cb0bf329",
        "type": "switch",
        "z": "caa031b5574b994f",
        "name": "Output",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "$type(status.result) = \"object\" and $contains($flowContext(\"state\"),\"Complete\")",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "$type(status.result) = \"object\" and $contains($flowContext(\"state\"),\"Error\")",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1510,
        "y": 540,
        "wires": [
            [
                "2d1ec9b7e3ea8084",
                "4769789a3d942c09"
            ],
            [
                "464a50135a0a634c"
            ]
        ]
    },
    {
        "id": "697aab508a8bb809",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "HGETALL",
        "name": "HGETALL",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 620,
        "y": 1420,
        "wires": [
            [
                "e04457b61c5d9722"
            ]
        ]
    },
    {
        "id": "5b11ed2ca3336535",
        "type": "switch",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "End",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "$contains(payload.method,\"Start\")",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "$contains(payload.method,\"Complete\")",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "$contains(payload.method,\"Error\")",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "$type(payload.result) = \"string\"",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 790,
        "y": 3120,
        "wires": [
            [],
            [
                "b43963c220de5799",
                "814b50ed03825469",
                "5d56f29db9d8ec85"
            ],
            [
                "aa349c80eb172ef1",
                "797d4c5d3aecad5e",
                "5d56f29db9d8ec85"
            ],
            [
                "a4cf17d881d67b32",
                "7c7e09dadf9c366f"
            ]
        ]
    },
    {
        "id": "b43963c220de5799",
        "type": "change",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "inQueue - 1",
        "rules": [
            {
                "t": "set",
                "p": "inQueue",
                "pt": "flow",
                "to": "$flowContext(\"inQueue\") - 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 3060,
        "wires": [
            [
                "6bae714a92700eee"
            ]
        ]
    },
    {
        "id": "aa349c80eb172ef1",
        "type": "change",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "inQueue - 1",
        "rules": [
            {
                "t": "set",
                "p": "inQueue",
                "pt": "flow",
                "to": "$flowContext(\"inQueue\") - 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 3100,
        "wires": [
            [
                "6e34381061caf3d2"
            ]
        ]
    },
    {
        "id": "a4cf17d881d67b32",
        "type": "change",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "Map",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "result",
                "pt": "msg",
                "to": "payload.result",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"downloader:\" & $globalContext(\"worker\") & \":timestamp:\" & timestamp ] ",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3140,
        "wires": [
            [
                "b0225be9c253f878"
            ]
        ]
    },
    {
        "id": "c96033b3fcaa47e8",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "d": true,
        "server": "029ff868be3010db",
        "command": "HSET",
        "name": "HSET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1300,
        "y": 3140,
        "wires": [
            [
                "3cfca5dc95db6c99"
            ]
        ]
    },
    {
        "id": "b0225be9c253f878",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "d": true,
        "server": "029ff868be3010db",
        "command": "HGETALL",
        "name": "HGETALL",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1050,
        "y": 3140,
        "wires": [
            [
                "f21983ad14805dbb"
            ]
        ]
    },
    {
        "id": "f21983ad14805dbb",
        "type": "change",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "Aria2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$append( [ \"downloader:\" & $globalContext(\"worker\") & \":aria2_id:\" & result ] , payload ) ",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 3140,
        "wires": [
            [
                "c96033b3fcaa47e8"
            ]
        ]
    },
    {
        "id": "3cfca5dc95db6c99",
        "type": "change",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "Expire",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"downloader:fr-meteofrance-client1:aria2_id:\" & result , 86400 ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 3140,
        "wires": [
            [
                "2be0208dd28ea70a"
            ]
        ]
    },
    {
        "id": "7c7e09dadf9c366f",
        "type": "debug",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 930,
        "y": 3200,
        "wires": []
    },
    {
        "id": "814b50ed03825469",
        "type": "debug",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 1350,
        "y": 3200,
        "wires": []
    },
    {
        "id": "797d4c5d3aecad5e",
        "type": "debug",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 1150,
        "y": 3200,
        "wires": []
    },
    {
        "id": "6bae714a92700eee",
        "type": "link call",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "Ack",
        "links": [
            "bed6957b5bd71319"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1080,
        "y": 3060,
        "wires": [
            [
                "83254dcdb59d2b7b"
            ]
        ]
    },
    {
        "id": "fe1cf4fcdcaf4e23",
        "type": "link out",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "Error",
        "mode": "link",
        "links": [
            "febdd299270156ec"
        ],
        "x": 1200,
        "y": 3100,
        "wires": [],
        "l": true
    },
    {
        "id": "83254dcdb59d2b7b",
        "type": "link out",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "Complete",
        "mode": "link",
        "links": [
            "040e2ff80605b0c9"
        ],
        "x": 1210,
        "y": 3060,
        "wires": [],
        "l": true
    },
    {
        "id": "6e34381061caf3d2",
        "type": "link call",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "Ack",
        "links": [
            "bed6957b5bd71319"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1080,
        "y": 3100,
        "wires": [
            [
                "fe1cf4fcdcaf4e23"
            ]
        ]
    },
    {
        "id": "2be0208dd28ea70a",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "d": true,
        "server": "029ff868be3010db",
        "command": "EXPIRE",
        "name": "Expire",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1540,
        "y": 3140,
        "wires": [
            []
        ]
    },
    {
        "id": "e9059783657b81d6",
        "type": "link in",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "link in 2",
        "links": [
            "de6645a70e1afe93",
            "85e0dc25dc81681b"
        ],
        "x": 565,
        "y": 3080,
        "wires": [
            [
                "30b7c4ce6c21ea15"
            ]
        ]
    },
    {
        "id": "07a6083434c3d2f2",
        "type": "switch",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "Downloader ?",
        "property": "downloader",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 3120,
        "wires": [
            [
                "30b7c4ce6c21ea15",
                "08512547084dc1da",
                "af337918d07038ca"
            ]
        ]
    },
    {
        "id": "9cbfd717aef06957",
        "type": "inject",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "Close",
        "props": [
            {
                "p": "close",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 300,
        "y": 3120,
        "wires": [
            [
                "07a6083434c3d2f2"
            ]
        ]
    },
    {
        "id": "e257e77752750e8e",
        "type": "debug",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 2960,
        "wires": []
    },
    {
        "id": "30b7c4ce6c21ea15",
        "type": "dynamic-websocket",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "Aria2",
        "url": "",
        "allowSelfSigned": false,
        "autoReconnect": false,
        "reconnectAttempts": 0,
        "reconnectInterval": 5000,
        "useExponentialBackoff": false,
        "authType": "none",
        "username": "",
        "password": "",
        "token": "",
        "tokenLocation": "url",
        "tokenKey": "Authorization",
        "headers": "",
        "transformMessages": false,
        "messageFormat": "json",
        "binarySupport": false,
        "validateMessages": false,
        "messageTemplate": "{\n  \"type\": \"message\",\n  \"id\": \"$id\",\n  \"content\": \"$content\",\n  \"timestamp\": \"2026-02-04T09:56:51.757Z\"\n}",
        "x": 660,
        "y": 3120,
        "wires": [
            [
                "5b11ed2ca3336535"
            ],
            [],
            []
        ]
    },
    {
        "id": "08512547084dc1da",
        "type": "delay",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 415,
        "y": 3180,
        "wires": [
            [
                "e1ae848745b3ae71"
            ]
        ],
        "l": false
    },
    {
        "id": "e1ae848745b3ae71",
        "type": "change",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "Connect",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "aria_url",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 3180,
        "wires": [
            [
                "30b7c4ce6c21ea15",
                "af337918d07038ca"
            ]
        ]
    },
    {
        "id": "5d56f29db9d8ec85",
        "type": "change",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "Aria",
        "rules": [
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\":\"2.0\",\t   \"method\":\"aria2.tellStatus\",\t   \"id\": \"azertyu\",\t   \"params\":[\"token:secret\",payload.params[0].gid]\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 2960,
        "wires": [
            [
                "af337918d07038ca"
            ]
        ]
    },
    {
        "id": "af337918d07038ca",
        "type": "dynamic-websocket",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "Aria2",
        "url": "",
        "allowSelfSigned": false,
        "autoReconnect": false,
        "reconnectAttempts": 0,
        "reconnectInterval": 5000,
        "useExponentialBackoff": false,
        "authType": "none",
        "username": "",
        "password": "",
        "token": "",
        "tokenLocation": "url",
        "tokenKey": "Authorization",
        "headers": "",
        "transformMessages": false,
        "messageFormat": "json",
        "binarySupport": false,
        "validateMessages": false,
        "messageTemplate": "{\n  \"type\": \"message\",\n  \"id\": \"$id\",\n  \"content\": \"$content\",\n  \"timestamp\": \"2026-02-04T09:56:51.757Z\"\n}",
        "x": 940,
        "y": 2960,
        "wires": [
            [
                "736e3e23083b554f"
            ],
            [],
            []
        ]
    },
    {
        "id": "736e3e23083b554f",
        "type": "switch",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "End",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "$type(payload.result) = \"object\"",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 1080,
        "y": 2960,
        "wires": [
            [
                "e257e77752750e8e"
            ]
        ]
    },
    {
        "id": "95df8e308a53d2a5",
        "type": "change",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "Aria",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "azertyuiop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "{\"jsonrpc\":\"2.0\",\"method\":\"aria2.addUri\",\"id\": timestamp,\"params\":[\"token:secret\",[ \"https://global-cache-of-japan.s3.ap-northeast-1.amazonaws.com/wis2/data/pl-imgw%3Asurface-based-observations.synop/NOTWIGOS_0-20000-0-12660_20260206T140000/1770387005/WIGOS_0-20000-0-12660_20260206T140000.bufr4\" ]]}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 2980,
        "wires": [
            [
                "30b7c4ce6c21ea15"
            ]
        ]
    },
    {
        "id": "d4ecd7fda68d1a0f",
        "type": "inject",
        "z": "caa031b5574b994f",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 2980,
        "wires": [
            [
                "95df8e308a53d2a5"
            ]
        ]
    },
    {
        "id": "ab44c1861612ac7d",
        "type": "link out",
        "z": "caa031b5574b994f",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "9692070f0181ce4e",
            "bca9fedc5304565a",
            "e51b855e0983bca1"
        ],
        "x": 615,
        "y": 600,
        "wires": []
    },
    {
        "id": "7d4c0b0f51f22b90",
        "type": "switch",
        "z": "caa031b5574b994f",
        "name": "Downloader ?",
        "property": "downloader",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 600,
        "wires": [
            [
                "ab44c1861612ac7d"
            ]
        ]
    },
    {
        "id": "77b13a519f52c038",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "Init",
        "props": [
            {
                "p": "close",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 350,
        "y": 600,
        "wires": [
            [
                "7d4c0b0f51f22b90"
            ]
        ]
    },
    {
        "id": "86823311d2f0831b",
        "type": "delay",
        "z": "caa031b5574b994f",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 425,
        "y": 660,
        "wires": [
            [
                "42b1ccacba64b751"
            ]
        ],
        "l": false
    },
    {
        "id": "42b1ccacba64b751",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "Connect",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "aria_url",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 660,
        "wires": [
            [
                "57b65fb40e2adb7f"
            ]
        ]
    },
    {
        "id": "9692070f0181ce4e",
        "type": "link in",
        "z": "caa031b5574b994f",
        "name": "link in 3",
        "links": [
            "ab44c1861612ac7d"
        ],
        "x": 365,
        "y": 660,
        "wires": [
            [
                "86823311d2f0831b"
            ]
        ]
    },
    {
        "id": "57b65fb40e2adb7f",
        "type": "link out",
        "z": "caa031b5574b994f",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "d39268a864ea075a",
            "98c0307d1a976bfe"
        ],
        "x": 615,
        "y": 660,
        "wires": []
    },
    {
        "id": "bca9fedc5304565a",
        "type": "link in",
        "z": "caa031b5574b994f",
        "name": "link in 4",
        "links": [
            "ab44c1861612ac7d"
        ],
        "x": 715,
        "y": 600,
        "wires": [
            [
                "4e84f9dffc97517c"
            ]
        ]
    },
    {
        "id": "d39268a864ea075a",
        "type": "link in",
        "z": "caa031b5574b994f",
        "name": "link in 5",
        "links": [
            "57b65fb40e2adb7f"
        ],
        "x": 715,
        "y": 660,
        "wires": [
            [
                "4e84f9dffc97517c"
            ]
        ]
    },
    {
        "id": "507d242508715d48",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "Map",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "result",
                "pt": "msg",
                "to": "payload.result",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"downloader:\" & $globalContext(\"worker\") & \":timestamp:\" & timestamp ] ",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 640,
        "wires": [
            [
                "0c40f2d437251be2"
            ]
        ]
    },
    {
        "id": "0a2911c4385cb16a",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "HSET",
        "name": "HSET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1480,
        "y": 640,
        "wires": [
            [
                "2c30bd36583f255a"
            ]
        ]
    },
    {
        "id": "0c40f2d437251be2",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "HGETALL",
        "name": "HGETALL",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1230,
        "y": 640,
        "wires": [
            [
                "8e26e398300321ac"
            ]
        ]
    },
    {
        "id": "8e26e398300321ac",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "Aria2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$append( [ \"downloader:\" & $globalContext(\"worker\") & \":aria2_id:\" & result ] , payload ) ",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 640,
        "wires": [
            [
                "0a2911c4385cb16a",
                "da067ad9e9ca4f46"
            ]
        ]
    },
    {
        "id": "2c30bd36583f255a",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "Expire",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"downloader:fr-meteofrance-client1:aria2_id:\" & result , 86400 ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 640,
        "wires": [
            [
                "f3407b5c6529285b"
            ]
        ]
    },
    {
        "id": "2d1ec9b7e3ea8084",
        "type": "link call",
        "z": "caa031b5574b994f",
        "name": "Ack",
        "links": [
            "bed6957b5bd71319"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1630,
        "y": 520,
        "wires": [
            [
                "9a78cd98a069fced"
            ]
        ]
    },
    {
        "id": "472ea609570f15f3",
        "type": "link out",
        "z": "caa031b5574b994f",
        "name": "Error",
        "mode": "link",
        "links": [
            "febdd299270156ec"
        ],
        "x": 1750,
        "y": 560,
        "wires": [],
        "l": true
    },
    {
        "id": "9a78cd98a069fced",
        "type": "link out",
        "z": "caa031b5574b994f",
        "name": "Complete",
        "mode": "link",
        "links": [
            "040e2ff80605b0c9"
        ],
        "x": 1760,
        "y": 520,
        "wires": [],
        "l": true
    },
    {
        "id": "464a50135a0a634c",
        "type": "link call",
        "z": "caa031b5574b994f",
        "name": "Ack",
        "links": [
            "bed6957b5bd71319"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1630,
        "y": 560,
        "wires": [
            [
                "472ea609570f15f3"
            ]
        ]
    },
    {
        "id": "f3407b5c6529285b",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "EXPIRE",
        "name": "Expire",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1720,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "e51b855e0983bca1",
        "type": "link in",
        "z": "caa031b5574b994f",
        "name": "link in 10",
        "links": [
            "ab44c1861612ac7d"
        ],
        "x": 1135,
        "y": 480,
        "wires": [
            [
                "ac8ba5f33c4a4f6b"
            ]
        ]
    },
    {
        "id": "98c0307d1a976bfe",
        "type": "link in",
        "z": "caa031b5574b994f",
        "name": "link in 11",
        "links": [
            "57b65fb40e2adb7f"
        ],
        "x": 1135,
        "y": 520,
        "wires": [
            [
                "ac8ba5f33c4a4f6b"
            ]
        ]
    },
    {
        "id": "4853cf6522faa268",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "inQueue - 1",
        "rules": [
            {
                "t": "set",
                "p": "inQueue",
                "pt": "flow",
                "to": "$flowContext(\"inQueue\") - 1",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 540,
        "wires": [
            [
                "05f32a62cb0bf329",
                "465966e07f20ca29"
            ]
        ]
    },
    {
        "id": "da067ad9e9ca4f46",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 700,
        "wires": []
    },
    {
        "id": "dee52c82aa0f04eb",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 420,
        "wires": []
    },
    {
        "id": "465966e07f20ca29",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 400,
        "wires": []
    },
    {
        "id": "6e35c63905d2cb0d",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 500,
        "wires": []
    },
    {
        "id": "222e7c6ef0ea5e82",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 420,
        "wires": []
    },
    {
        "id": "4769789a3d942c09",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2130,
        "y": 480,
        "wires": []
    },
    {
        "id": "ee4aa54f82d0ef23",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 980,
        "wires": []
    },
    {
        "id": "3f9108575a9461d2",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "Extract",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"downloader:data_id:\" & hget.data_id ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1420,
        "wires": [
            [
                "697aab508a8bb809"
            ]
        ]
    },
    {
        "id": "d430de06ba1e6656",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "WNM",
        "rules": [
            {
                "t": "set",
                "p": "wnm.links[0].href",
                "pt": "msg",
                "to": "localhref",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "wnm.properties.global-cache",
                "pt": "msg",
                "to": "$globalContext(\"cache_name\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "wnm",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "wnmtopic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1160,
        "wires": [
            [
                "d4a6d82c3519ede4",
                "4668c1bfbf82afd5",
                "db530b85d76bc97b"
            ]
        ]
    },
    {
        "id": "7949400d806c8645",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "HSET",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"downloader:data_id:\" & wnm.properties.data_id , href , \"complete-\" & $substringAfter(payload,\"queue-\") , \"stored\" , $millis() ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 1120,
        "wires": [
            [
                "8e87bf1d7dd11f80",
                "7d723d9cc15c1177"
            ]
        ]
    },
    {
        "id": "696460726599ef1a",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 74",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1080,
        "wires": []
    },
    {
        "id": "8e87bf1d7dd11f80",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 75",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1080,
        "wires": []
    },
    {
        "id": "7d723d9cc15c1177",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "HSET",
        "name": "HSET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 950,
        "y": 1120,
        "wires": [
            [
                "6e26958ea82dc499"
            ]
        ]
    },
    {
        "id": "6e26958ea82dc499",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "HGET",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"downloader:data_id:\" & wnm.properties.data_id ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1120,
        "wires": [
            [
                "39921dfd1f4e0602"
            ]
        ]
    },
    {
        "id": "39921dfd1f4e0602",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "HGETALL",
        "name": "HGETALL",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1200,
        "y": 1120,
        "wires": [
            [
                "4df27f331be1beea",
                "76b4e2a7e4022c5c"
            ]
        ]
    },
    {
        "id": "7abde6069cced145",
        "type": "link out",
        "z": "caa031b5574b994f",
        "name": "Finishing",
        "mode": "link",
        "links": [
            "0149d4b8a664c59e"
        ],
        "x": 1380,
        "y": 900,
        "wires": [],
        "l": true
    },
    {
        "id": "8a011d3a2eeceb67",
        "type": "link out",
        "z": "caa031b5574b994f",
        "name": "Bad Hash",
        "mode": "link",
        "links": [
            "41c60a819985992f"
        ],
        "x": 1380,
        "y": 940,
        "wires": [],
        "l": true
    },
    {
        "id": "41c60a819985992f",
        "type": "link in",
        "z": "caa031b5574b994f",
        "name": "Bad Hash",
        "links": [
            "8a011d3a2eeceb67"
        ],
        "x": 360,
        "y": 1300,
        "wires": [
            [
                "7410d262f704614e"
            ]
        ],
        "l": true
    },
    {
        "id": "0149d4b8a664c59e",
        "type": "link in",
        "z": "caa031b5574b994f",
        "name": "Finishing",
        "links": [
            "7abde6069cced145"
        ],
        "x": 380,
        "y": 1120,
        "wires": [
            [
                "d430de06ba1e6656",
                "fa9df07335b8bf6c"
            ]
        ],
        "l": true
    },
    {
        "id": "d4a6d82c3519ede4",
        "type": "mqtt out",
        "z": "caa031b5574b994f",
        "name": "PUB1",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bae38c3ec809a1b3",
        "x": 630,
        "y": 1160,
        "wires": []
    },
    {
        "id": "49c7c6b206e065fe",
        "type": "mqtt out",
        "z": "caa031b5574b994f",
        "name": "PUB2",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e294e8eeec8172b",
        "x": 770,
        "y": 1200,
        "wires": []
    },
    {
        "id": "4668c1bfbf82afd5",
        "type": "switch",
        "z": "caa031b5574b994f",
        "name": "Pub 2 ?",
        "property": "pub2",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 640,
        "y": 1200,
        "wires": [
            [
                "49c7c6b206e065fe"
            ]
        ]
    },
    {
        "id": "4df27f331be1beea",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 1100,
        "wires": []
    },
    {
        "id": "fa9df07335b8bf6c",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "HGET",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"downloader:data_id:\" & wnm.properties.data_id , href ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1120,
        "wires": [
            [
                "0483541e8e2a6d39"
            ]
        ]
    },
    {
        "id": "0483541e8e2a6d39",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "HGET",
        "name": "HGET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 630,
        "y": 1120,
        "wires": [
            [
                "7949400d806c8645"
            ]
        ]
    },
    {
        "id": "db530b85d76bc97b",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1200,
        "wires": []
    },
    {
        "id": "7410d262f704614e",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1300,
        "wires": []
    },
    {
        "id": "69402b202a099cc7",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "XGROUP",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 600,
        "y": 2860,
        "wires": [
            [
                "f5612dc234ad50af"
            ]
        ]
    },
    {
        "id": "3bee6e0bb2f7564f",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "v": "[ \"CREATE\", $globalContext(\"queue\"),  $globalContext(\"queue\") , \"$\", \"MKSTREAM\"]",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 380,
        "y": 2860,
        "wires": [
            [
                "69402b202a099cc7"
            ]
        ]
    },
    {
        "id": "f5612dc234ad50af",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 2860,
        "wires": []
    },
    {
        "id": "6dcfd89b51377e14",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "First",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"https://global-cache-of-japan.s3.ap-northeast-1.amazonaws.com/wis2/data/wis2/ca-eccc-msc/data/core/weather/experimental/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml/1770531023/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml\",\"queue-jp-jma\",\"wnm\",\"{\\\"id\\\":\\\"9034565a-8034-404f-b47c-23e42c74fd9e\\\",\\\"type\\\":\\\"Feature\\\",\\\"conformsTo\\\":[\\\"http://wis.wmo.int/spec/wnm/1/conf/core\\\"],\\\"geometry\\\":null,\\\"properties\\\":{\\\"data_id\\\":\\\"wis2/ca-eccc-msc/data/core/weather/experimental/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml\\\",\\\"pubtime\\\":\\\"2026-02-08T06:10:23Z\\\",\\\"integrity\\\":{\\\"method\\\":\\\"sha512\\\",\\\"value\\\":\\\"8UtUN+Raqi1NeEc5WUt8mODnKo0+JlU/ZIaKoZoMp74O//FFZpYEK0SjdGafdbgfgc+s+tuHfrjKDkwQ3TAnuA==\\\"},\\\"datetime\\\":null,\\\"metadata_id\\\":\\\"urn:wmo:md:ca-eccc-msc:1f864766-7f7f-4be7-8292-295065c65c78\\\",\\\"global-cache\\\":\\\"jp-jma-global-cache\\\"},\\\"links\\\":[{\\\"rel\\\":\\\"canonical\\\",\\\"type\\\":\\\"application/xml\\\",\\\"href\\\":\\\"https://global-cache-of-japan.s3.ap-northeast-1.amazonaws.com/wis2/data/wis2/ca-eccc-msc/data/core/weather/experimental/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml/1770531023/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml\\\",\\\"length\\\":35920}]}\",\"topic\",\"cache/a/wis2/ca-eccc-msc/data/core/weather/experimental\",\"published\",\"1770542898650\",\"https://wis2.dwd.kma\",\"wait-kr-kma\",\"https://wis2.dwd.cma\",\"wait-cn-cma\",\"https://wis2.dwd.jp\",\"wait-jp-jma\",\"attempt\",1]",
        "payloadType": "json",
        "x": 510,
        "y": 1640,
        "wires": [
            [
                "86d47991b22894de",
                "1395c15a37b0209c"
            ]
        ]
    },
    {
        "id": "fc4bf403e3a4f8fa",
        "type": "switch",
        "z": "caa031b5574b994f",
        "name": "Retry ?",
        "property": "retry",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 880,
        "y": 1420,
        "wires": [
            [
                "be17da13960262b3"
            ],
            []
        ]
    },
    {
        "id": "15eb8cae84d98b6e",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "Update",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$append(topic,payload)",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 1400,
        "wires": [
            [
                "8e7034ccd6a86316"
            ]
        ]
    },
    {
        "id": "8e7034ccd6a86316",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "HSET",
        "name": "HSET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1270,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "835bcad5013f7c05",
        "type": "change",
        "z": "caa031b5574b994f",
        "name": "Aria",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "$millis()",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "{\"jsonrpc\":\"2.0\",\"method\":\"aria2.addUri\",\"id\": timestamp,\"params\":[\"token:secret\",[ extracted.waitHref ]]}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 1360,
        "wires": [
            [
                "85e0dc25dc81681b"
            ]
        ]
    },
    {
        "id": "85e0dc25dc81681b",
        "type": "link out",
        "z": "caa031b5574b994f",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "e11d499878526ee0",
            "e9059783657b81d6"
        ],
        "x": 1215,
        "y": 1360,
        "wires": []
    },
    {
        "id": "f4452356d178d3c2",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 1540,
        "wires": []
    },
    {
        "id": "86d47991b22894de",
        "type": "function",
        "z": "caa031b5574b994f",
        "name": "Next",
        "func": "const arr = msg.payload;\n\n// Default values\nmsg.retry = false;\nmsg.extracted = null;\n\nlet queueIndex = -1;\n\nfor (let i = 0; i < arr.length; i++) {\n    if (typeof arr[i] === 'string') {\n        if (arr[i].startsWith('queue-')) {\n            queueIndex = i;\n        } else if (arr[i].startsWith('wait-')) {\n            if (i > 0) {\n                const waitHref = arr[i - 1];\n                \n                // Find attempt value\n                let attemptValue = 0;\n                const attemptIndex = arr.indexOf('attempt');\n                if (attemptIndex !== -1 && attemptIndex + 1 < arr.length) {\n                    attemptValue = parseInt(arr[attemptIndex + 1]) || 0;\n                }\n                \n                // Check if error-nocache exists\n                const hasErrorNoCache = arr.includes('error-nocache');\n                \n                // Check if we should retry\n                const shouldRetry = attemptValue < 3 && !hasErrorNoCache;\n\n                if (shouldRetry) {\n                    msg.retry = true;\n                    if (attemptIndex !== -1) {\n                        arr[attemptIndex + 1] = attemptValue + 1;\n                        msg.delay = 10 + (5 * attemptValue);\n                    }\n                    arr[i] = arr[i].replace('wait-', 'queue-');\n                    msg.extracted = waitHref;\n                }\n                \n                break; // Exit loop after processing first wait-\n            }\n        }\n    }\n}\n\n// Always convert queue- to error-\nif (queueIndex !== -1) {\n    arr[queueIndex] = arr[queueIndex].replace('queue-', 'error-');\n}\n\nmsg.payload = arr;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1640,
        "wires": [
            [
                "f4452356d178d3c2",
                "b0956b546281b4d5"
            ]
        ]
    },
    {
        "id": "1395c15a37b0209c",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1720,
        "wires": []
    },
    {
        "id": "c47c18b584cc3c25",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "Second",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"https://global-cache-of-japan.s3.ap-northeast-1.amazonaws.com/wis2/data/wis2/ca-eccc-msc/data/core/weather/experimental/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml/1770531023/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml\",\"error-jp-jma\",\"wnm\",\"{\\\"id\\\":\\\"9034565a-8034-404f-b47c-23e42c74fd9e\\\",\\\"type\\\":\\\"Feature\\\",\\\"conformsTo\\\":[\\\"http://wis.wmo.int/spec/wnm/1/conf/core\\\"],\\\"geometry\\\":null,\\\"properties\\\":{\\\"data_id\\\":\\\"wis2/ca-eccc-msc/data/core/weather/experimental/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml\\\",\\\"pubtime\\\":\\\"2026-02-08T06:10:23Z\\\",\\\"integrity\\\":{\\\"method\\\":\\\"sha512\\\",\\\"value\\\":\\\"8UtUN+Raqi1NeEc5WUt8mODnKo0+JlU/ZIaKoZoMp74O//FFZpYEK0SjdGafdbgfgc+s+tuHfrjKDkwQ3TAnuA==\\\"},\\\"datetime\\\":null,\\\"metadata_id\\\":\\\"urn:wmo:md:ca-eccc-msc:1f864766-7f7f-4be7-8292-295065c65c78\\\",\\\"global-cache\\\":\\\"jp-jma-global-cache\\\"},\\\"links\\\":[{\\\"rel\\\":\\\"canonical\\\",\\\"type\\\":\\\"application/xml\\\",\\\"href\\\":\\\"https://global-cache-of-japan.s3.ap-northeast-1.amazonaws.com/wis2/data/wis2/ca-eccc-msc/data/core/weather/experimental/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml/1770531023/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml\\\",\\\"length\\\":35920}]}\",\"topic\",\"cache/a/wis2/ca-eccc-msc/data/core/weather/experimental\",\"published\",\"1770542898650\",\"https://wis2.dwd.kma\",\"queue-kr-kma\",\"https://wis2.dwd.cma\",\"wait-cn-cma\",\"https://wis2.dwd.jp\",\"wait-jp-jma\",\"attempt\",2]",
        "payloadType": "json",
        "x": 510,
        "y": 1560,
        "wires": [
            [
                "86d47991b22894de",
                "1395c15a37b0209c"
            ]
        ]
    },
    {
        "id": "10106ee47bbe75a7",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "Third",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"https://global-cache-of-japan.s3.ap-northeast-1.amazonaws.com/wis2/data/wis2/ca-eccc-msc/data/core/weather/experimental/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml/1770531023/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml\",\"error-jp-jma\",\"wnm\",\"{\\\"id\\\":\\\"9034565a-8034-404f-b47c-23e42c74fd9e\\\",\\\"type\\\":\\\"Feature\\\",\\\"conformsTo\\\":[\\\"http://wis.wmo.int/spec/wnm/1/conf/core\\\"],\\\"geometry\\\":null,\\\"properties\\\":{\\\"data_id\\\":\\\"wis2/ca-eccc-msc/data/core/weather/experimental/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml\\\",\\\"pubtime\\\":\\\"2026-02-08T06:10:23Z\\\",\\\"integrity\\\":{\\\"method\\\":\\\"sha512\\\",\\\"value\\\":\\\"8UtUN+Raqi1NeEc5WUt8mODnKo0+JlU/ZIaKoZoMp74O//FFZpYEK0SjdGafdbgfgc+s+tuHfrjKDkwQ3TAnuA==\\\"},\\\"datetime\\\":null,\\\"metadata_id\\\":\\\"urn:wmo:md:ca-eccc-msc:1f864766-7f7f-4be7-8292-295065c65c78\\\",\\\"global-cache\\\":\\\"jp-jma-global-cache\\\"},\\\"links\\\":[{\\\"rel\\\":\\\"canonical\\\",\\\"type\\\":\\\"application/xml\\\",\\\"href\\\":\\\"https://global-cache-of-japan.s3.ap-northeast-1.amazonaws.com/wis2/data/wis2/ca-eccc-msc/data/core/weather/experimental/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml/1770531023/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml\\\",\\\"length\\\":35920}]}\",\"topic\",\"cache/a/wis2/ca-eccc-msc/data/core/weather/experimental\",\"published\",\"1770542898650\",\"https://wis2.dwd.kma\",\"error-kr-kma\",\"https://wis2.dwd.cma\",\"queue-cn-cma\",\"https://wis2.dwd.jp\",\"wait-jp-jma\",\"attempt\",3]",
        "payloadType": "json",
        "x": 510,
        "y": 1740,
        "wires": [
            [
                "1395c15a37b0209c",
                "86d47991b22894de"
            ]
        ]
    },
    {
        "id": "e590698786b6cb60",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "Fourth",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"https://global-cache-of-japan.s3.ap-northeast-1.amazonaws.com/wis2/data/wis2/ca-eccc-msc/data/core/weather/experimental/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml/1770531023/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml\",\"error-jp-jma\",\"wnm\",\"{\\\"id\\\":\\\"9034565a-8034-404f-b47c-23e42c74fd9e\\\",\\\"type\\\":\\\"Feature\\\",\\\"conformsTo\\\":[\\\"http://wis.wmo.int/spec/wnm/1/conf/core\\\"],\\\"geometry\\\":null,\\\"properties\\\":{\\\"data_id\\\":\\\"wis2/ca-eccc-msc/data/core/weather/experimental/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml\\\",\\\"pubtime\\\":\\\"2026-02-08T06:10:23Z\\\",\\\"integrity\\\":{\\\"method\\\":\\\"sha512\\\",\\\"value\\\":\\\"8UtUN+Raqi1NeEc5WUt8mODnKo0+JlU/ZIaKoZoMp74O//FFZpYEK0SjdGafdbgfgc+s+tuHfrjKDkwQ3TAnuA==\\\"},\\\"datetime\\\":null,\\\"metadata_id\\\":\\\"urn:wmo:md:ca-eccc-msc:1f864766-7f7f-4be7-8292-295065c65c78\\\",\\\"global-cache\\\":\\\"jp-jma-global-cache\\\"},\\\"links\\\":[{\\\"rel\\\":\\\"canonical\\\",\\\"type\\\":\\\"application/xml\\\",\\\"href\\\":\\\"https://global-cache-of-japan.s3.ap-northeast-1.amazonaws.com/wis2/data/wis2/ca-eccc-msc/data/core/weather/experimental/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml/1770531023/20260208T060503.321Z_MSC_CitypageWeather_s0000239_fr.xml\\\",\\\"length\\\":35920}]}\",\"topic\",\"cache/a/wis2/ca-eccc-msc/data/core/weather/experimental\",\"published\",\"1770542898650\",\"https://wis2.dwd.kma\",\"error-kr-kma\",\"https://wis2.dwd.cma\",\"error-cn-cma\",\"https://wis2.dwd.jp\",\"queue-jp-jma\",\"attempt\",4]",
        "payloadType": "json",
        "x": 470,
        "y": 1820,
        "wires": [
            [
                "1395c15a37b0209c",
                "86d47991b22894de"
            ]
        ]
    },
    {
        "id": "b0956b546281b4d5",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1640,
        "wires": []
    },
    {
        "id": "93410d558205e8bf",
        "type": "inject",
        "z": "caa031b5574b994f",
        "name": "Topic",
        "props": [
            {
                "p": "topic",
                "v": "[\"downloader:data_id:wis2/ca-eccc-msc/data/core/weather/prediction/forecast/short-range/deterministic/limited-area/20260208T06Z_MSC_HRDPS_VGRD_ISBL_0650_RLatLon0.0225_PT018H.grib2\"]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 940,
        "y": 1820,
        "wires": [
            [
                "043a638a46f50f33"
            ]
        ]
    },
    {
        "id": "043a638a46f50f33",
        "type": "redis-command",
        "z": "caa031b5574b994f",
        "server": "029ff868be3010db",
        "command": "HGETALL",
        "name": "HGETALL",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1120,
        "y": 1840,
        "wires": [
            [
                "9311e66d4dbe96fd"
            ]
        ]
    },
    {
        "id": "9311e66d4dbe96fd",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 1840,
        "wires": []
    },
    {
        "id": "76b4e2a7e4022c5c",
        "type": "debug",
        "z": "caa031b5574b994f",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 1140,
        "wires": []
    },
    {
        "id": "be17da13960262b3",
        "type": "delay",
        "z": "caa031b5574b994f",
        "name": "Wait",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1010,
        "y": 1380,
        "wires": [
            [
                "15eb8cae84d98b6e",
                "835bcad5013f7c05"
            ]
        ]
    },
    {
        "id": "e04457b61c5d9722",
        "type": "function",
        "z": "caa031b5574b994f",
        "name": "Next",
        "func": "const arr = msg.payload;\n\n// Default values\nmsg.retry = false;\nmsg.extracted = null;\n\nlet queueIndex = -1;\n\nfor (let i = 0; i < arr.length; i++) {\n    if (typeof arr[i] === 'string') {\n        if (arr[i].startsWith('queue-')) {\n            queueIndex = i;\n        } else if (arr[i].startsWith('wait-')) {\n            if (i > 0) {\n                const waitHref = arr[i - 1];\n                \n                // Find attempt value\n                let attemptValue = 0;\n                const attemptIndex = arr.indexOf('attempt');\n                if (attemptIndex !== -1 && attemptIndex + 1 < arr.length) {\n                    attemptValue = parseInt(arr[attemptIndex + 1]) || 0;\n                }\n                \n                // Check if error-nocache exists\n                const hasErrorNoCache = arr.includes('error-nocache');\n                \n                // Check if we should retry\n                const shouldRetry = attemptValue < 3 && !hasErrorNoCache;\n\n                if (shouldRetry) {\n                    msg.retry = true;\n                    if (attemptIndex !== -1) {\n                        arr[attemptIndex + 1] = attemptValue + 1;\n                        msg.delay = 10 + (5 * attemptValue);\n                    }\n                    arr[i] = arr[i].replace('wait-', 'queue-');\n                    msg.extracted = waitHref;\n                }\n                \n                break; // Exit loop after processing first wait-\n            }\n        }\n    }\n}\n\n// Always convert queue- to error-\nif (queueIndex !== -1) {\n    arr[queueIndex] = arr[queueIndex].replace('queue-', 'error-');\n}\n\nmsg.payload = arr;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1420,
        "wires": [
            [
                "fc4bf403e3a4f8fa"
            ]
        ]
    }
]